<?xml version="1.0" encoding="UTF-8"?>
<suite name="testNGLearning" parallel="false">

	<test name="simpleTest">

		<parameter name="browserType" value="chrome" />
		<parameter name="appURL" value="https://dev2-cctv.ajilonservices.com.au" />
		<parameter name="password" value="testpassword" />

		<classes>

			<class name="testpages.manageuserstest" />

		</classes>
	</test>

	<listeners>


<!-- 	<listener class-name="utils.TestListener" />     -->
		<listener class-name="utils.PriorityInterceptor" />

	</listeners>



</suite>