<?xml version="1.0" encoding="UTF-8"?>
<suite name="testNGLearning" parallel="false">

	<test name="simpleTest">

		<parameter name="browserType" value="chrome" />
		<parameter name="appURL" value="https://test-cctv.ajilonservices.com.au" />
		<parameter name="password" value="testpassword" />

		<classes>
<!-- 
			<class name="testpages.T0testCases" /> -->
			<class name="testpages.AlertAndActionsTestCases" />
			
			

		</classes>
	</test>


	<listeners>
	
       <!--  <listener class-name="utils.WebEventListener" /> -->

		<listener class-name="utils.TestListener" />
		
		
		<!-- <listener class-name="utils.PriorityInterceptor" /> -->

	</listeners>



</suite>